h1{
    color: #006600;
    font-weight: bold;
    text-align: center;
}
h2{
    color: #0000ff;
    text-decoration: underline;
    font-weight: bold;
}
p{
    font-weight: bold;
}
.me{
    text-align: center;
    background-color: #fecffd;
    color: #ff3399;
}
.tho{
    text-align: center;
    background-color: #ffffcc;
    font-style: italic;
}
hr{
    width: 20%;
}
.text-a{
    text-align: center;
}